/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: left;  /* Add this line */
}

.header {
    width: 100%;
    height: 80px;
    background-color: #0da6ba;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    margin-bottom: 20px;
    width: 80%;
}

.slide {
    width: 100%;
}

.slide img {
    max-width: 100%;
    height: auto;
}

.slide p {
    margin-top: 10px;
}

.form-container {
    margin-top: 20px;
    width: 100%;
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0da6ba;
    color: #ffffff;
    cursor: pointer;
}

.button:hover {
    background-color: #0c948b;
}

.prev {
    position: absolute;
    top: 5px;
    left: 5px;
}

.question-log {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid #ddd;
}

.question-log p {
    margin: 5px 0;
}
